@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

body
{
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background-color: #1D3557;
    background-image: url(/imagens/backgroundcinelaser.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav
{
   overflow: hidden; 
   background-color: #A8DADC;
   padding: 20;
   background-image: linear-gradient(to right, black -90% , #A8DADC);
}

.topnav a 
{
    float: left;
    display: block;
    color: #AA1D1D;
    border-bottom: solid transparent 2px;
    color: #FFFFFF;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
}

.topnav a:hover
{
    color: #AA1D1D;
    border-color: #AA1D1D;
}

.drop
{
   font-size: 20px; 
   float: right;
   margin-top: 15px;
   margin-right: 25px;
   color: #AA1D1D;
   border-radius: 20px;
   border: #AA1D1D;
   padding: 8px 10px;
}

.icons
{
    width: 3%;
}

footer 
{
    padding-top: 30%;
    margin-left: 5%;
    color: #FFFFFF;
}





